table {
    width: 100%;
    margin-top: 30px;
  }
  
  .formulario1 {
    background-color: rgb(105, 15, 15);
    color: white;
    max-width: 1000px;
  }
  .formulario2 {
    background-color: rgb(114, 89, 19);
    color: white;
    max-width: 1000px;

  }
  
  
  .spacer {
    flex: 1 1 auto;
  }